.list-group { margin-bottom:0px; }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}

#order.panel-body {
  /* height: 480px; */
  padding:0px;
  height: calc(100vh - 250px);
  overflow-y: auto;
}
#p1.panel-body {
  /* height: 480px; */
  padding:0px;
  height: calc(100vh - 700px);
  overflow-y: auto;
}

#p2.panel-body {
  /* height: 480px; */
  padding:0px;
  height: calc(100vh - 700px);
  overflow-y: auto;
}
#p3.panel-body {
  /* height: 480px; */
  padding:0px;
  height: calc(100vh - 700px);
  overflow-y: auto;
}

#p4.panel-body {
  /* height: 480px; */
  padding:0px;
  height: calc(100vh - 700px);
  overflow-y: auto;
}

#p3.panel-heading{
  right: 31px;
  top: 42px;
  left: initial;
}

#p4.panel-heading {
  right: 31px;
  top: 42px;
  left: initial;
}

canvas {
  border: 3px solid #ccc;
  margin: 30px;
}

.s{
  display: inline-block;
  width: 150px;
  height: 75px;
  padding: 0;
}
#textInput
{
  width: 20px;
}
#LOL
{
  margin-left: 40px;
  width: 100px;
}

