<div class='panel panel-default'>
  <div class='panel-heading' style='font-size:large'>
    <a [routerLink]="['/guest/receivedInvites']"> Nazad </a>

  </div>


  <div class="col-md-8">
    <div clas="row">
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Hrana</h4>
          </div>
          <div id="p1" class="panel-body">
            <ul class="list-group" *ngFor="let food of foods">
              <li class="list-group-item">{{ food.name }}
                <button type="button" class="btn btn-success btn-xs" aria-label="Left Align" (click) = "addFood(food.name)" ><span class="glyphicon glyphicon-plus"></span></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Pice</h4>
          </div>
          <div id="p2" class="panel-body">
            <ul class="list-group" *ngFor="let drink of drinks">
              <li class="list-group-item">{{ drink.name }}
                <button type="button" class="btn btn-success btn-xs" aria-label="Left Align" (click) = "addDrink(drink.name)" ><span class="glyphicon glyphicon-plus"></span></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Selektovana hrana</h4>
          </div>
          <div id="p3" class="panel-body">
            <ul id="foods_id" class="list-group" *ngFor="let food of selectedFoods; let j = index" >
              <li class="list-group-item" >{{ food.name }}
                <button type="button" class="btn btn-success btn-xs" aria-label="Left Align" (click) = "obrisano2(j)"><span class="glyphicon glyphicon-minus"></span></button>

              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Selektovano pice</h4>
          </div>
          <div id="p4" class="panel-body">
            <ul id="drinks_id" class="list-group" *ngFor="let drink of selectedDrinks; let i = index">
              <li class="list-group-item" >{{ drink.name }}
                <button type="button" class="btn btn-success btn-xs" aria-label="Left Align" (click) = "obrisano(i)"><span class="glyphicon glyphicon-minus"></span></button>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click) = "zavrsiPorudzbinu()">Zavrsi</button>
    <br>
    <br>
    <div  id = "naKraju"></div>
  </div >


</div>
