<nav id="menu" class="navbar navbar-inverse bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Restaurants</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li id="sing_up"> </li>
      <li id="login"> </li>
      <li id="icon" class="dropdown"> </li>
      <!--<li><a [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a [routerLink]="['/login']"> <span class="glyphicon glyphicon-log-in"></span> Login </a></li> -->
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

