<div class='panel panel-default'>
  <div class='panel-heading' style='font-size:large'>
    <a [routerLink]="['/guest/account']"> Moj nalog  </a> &nbsp; &nbsp; &nbsp;
    <a [routerLink]="['/guest/friends']"> Prijatelji </a> &nbsp; &nbsp; &nbsp;
    <a [routerLink]="['/guest/restaurants']"> Restorani </a> &nbsp; &nbsp; &nbsp;
    <a [routerLink]="['/guest/receivedRequests']"> Zahtevi za prijateljstvo </a>

  </div>
  <div class="col-md-5">
    <div class='panel-body'>
      <form >
        <label> Broj dobijenih zahteva:  {{dobijeni.length}}  </label>
        <table class='table table-striped table-bordered' *ngIf='dobijeni && dobijeni.length'>
          <thead>
          <tr>
            <th>Ime Prijatelja</th>
            <th>Prezime</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor='let guest of dobijeni'>
            <td>
              {{guest.first_name}}
            </td>
            <td>{{ guest.last_name}}</td>
            <td>
              <div class="field col-md-6 col-md-offset-3">
              <button class="btn btn-primary  " (click)="prihvati(guest)" type="button" >Prihvati</button>
              <button class="btn btn-primary  " (click)="obrisi(guest)" type="button" >Odbi</button>
              </div>
            </td>

          </tr>
          </tbody>
        </table>
      </form>
    </div>
    </div>

</div>

