<div class='panel panel-default'>
  <div class='panel-heading' style='font-size:large'>
    <a [routerLink]="['/guest/friends/add']"> Nazad </a>

  </div>
  <div class="col-md-5">
  <div class='panel-body'>
    <form >
      <label> Broj poslatih zahteva:  {{poslatiZahtevi.length}}  </label>
      <table class='table table-striped table-bordered ' *ngIf='poslatiZahtevi && poslatiZahtevi.length'>
        <thead>
        <tr>
          <th>Ime Prijatelja</th>
          <th>Prezime</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let guest of poslatiZahtevi'>
          <td>
            {{guest.first_name}}
          </td>
          <td>{{ guest.last_name}}</td>
          <td>
            <p>Na cekanju...</p>
          </td>

        </tr>
        </tbody>
      </table>
    </form>
  </div>
  </div>

</div>
